svg {
/*  background: #333;*/
   width:100%;
   height:100%;
}

.ontodisplay {
   position:absolute;
   width:65%;
   height:100%;
}

.ontomanage {
   position:absolute;
   top:0;
   right:0;
   width:35%;
   height:100%;
}

#credentials{
   position:relative;
   left:10px;
}

#submit{
   position:relative;
   left:10px;
}

.authentication{
   position:absolute;
   width:auto;
   margin-right:10px;
   right:0;
}

.CodeMirror, .CodeMirror-scroll {
  height:auto;
}

#execute {
   font-size:30px;
   position:absolute;
   top: 0.6em;
   right: 10em;
}

#neo4jUrl {
   position:absolute;
   right: 5px;
   top: 1em;
   z-index: 100;
   width: 20em;
}

#neo4jUser {
   position:absolute;
   right: 9em;
   top: 4em;
   z-index: 100;
   width: 8em;
}

#neo4jPass {
   position:absolute;
   right: 5px;
   top: 4em;
   z-index: 100;
   width: 8em;
}