svg {
/*  background: #333;*/
   width:100%;
   height:100%;
}

.ontodisplay {
   position:absolute;
   width:65%;
   height:100%;
}

.ontomanage {
   position:absolute;
   top:0;
   right:0;
   width:35%;
   height:100%;
}

#credentials{
   text-align:right;
}



.authentication{
   position:relative;
   width:100%;
   height:auto;
   margin-right:2px;
   border: 4px;
   border-style: double;
}



#authStatus{
   text-align:right;
}

.nodeControls{
   right:0;
   width:100%;
   
   font-size:0.8em;
}

.primaryNode {
   position:relative;
   
   right:0;
   width:100%;
   height:100%;
}

.secondaryNode {
   position:relative;
   top:30px;
   right:0;
   width:100%;
   height:100%;
}

.relationshipControl{
   position:relative;
   top:30px;
   width:100%;
   height:10%;
}
#primaryNodeProperties .jsgrid-cell{
   word-wrap: break-word;
   font-size:0.8em;
}

#secondaryNodeProperties .jsgrid-cell{
   word-wrap: break-word;
   font-size:0.8em;
}

.CodeMirror, .CodeMirror-scroll {
  height:auto;
}

#execute {
   font-size:30px;
   position:absolute;
   top: 0.6em;
   right: 10em;
}

#neo4jUrl {
   position:absolute;
   right: 5px;
   top: 1em;
   z-index: 100;
   width: 20em;
}

#neo4jUser {
   position:absolute;
   right: 9em;
   top: 4em;
   z-index: 100;
   width: 8em;
}

#neo4jPass {
   position:absolute;
   right: 5px;
   top: 4em;
   z-index: 100;
   width: 8em;
}